# C++ build artifacts
build/
libraries/
.vscode/
bin/
*.exe
*.obj
# Compiled C++ files
*.o
*.so
*.out
# IDE files
*.user
*.sln
*.suo
# Miscellaneous
*.tmp
*.log
# Debug/Release folders
Debug/
Release/
